@model IEnumerable<BigSchool1.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LecturerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

    <div class="row">
        <ul class="course">
            @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecture">
                            @course.LecturerName
                        </span>
                        <br />
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>
                    <div class="action">
                        <a href="@Url.Action("EditCourse","Course", new { id = course.Id})">Edit</a>
                        <a href="@Url.Action("Delete","Course", new { id = course.Id})">Delete</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</table>
